spring:
   datasource:
     driver-class-name: org.mariadb.jdbc.Driver
     url: ${SPRING_DATASOURCE_URL}
     username: ${SPRING_DATASOURCE_USERNAME}
     password: ${SPRING_DATASOURCE_PASSWORD}

   jpa:
      hibernate:
         ddl-auto: update
      database-platform: org.hibernate.dialect.MariaDBDialect
      properties:
         hibernate:
            format_sql: true
            show_sql: false
            defer-datasource-initialization: true


   batch:
      jdbc:
         initialize-schema: always # Spring Batch 메타데이터 테이블 자동 생성
      job:
         enabled: false # 애플리케이션 시작 시 Job 자동 실행 방지 (수동 실행 위함)
         job-names: NON_EXISTENT_JOB #존재하지 않는 이름 지정하여 아무 잡도 실행되지 않게 함

   mail:
     host: ${SPRING_MAIL_HOST}
     port: ${SPRING_MAIL_PORT}
     username: ${SPRING_MAIL_USERNAME} 
     password: ${SPRING_MAIL_PASSWORD} 
     properties:
       mail.smtp.auth: true
       # mail.smtp.ssl.enable: true
        mail.smtp.ssl.enable: true
        mail.smtp.debug: false # true라면 로그 확인 가
#       mail.smtp.starttls.enable: true //TLS 사용 시 port 587로 바꾸고 사용
#       mail.smtp.starttls.required: true

       mail.smtp.timeout: 5000               # 연결 타임아웃
       mail.smtp.connectiontimeout: 5000     # 연결 타임아웃
       mail.smtp.writetimeout: 5000          # 쓰기 타임아웃

   data:
     redis:
       cluster:
         nodes:
           - ${SPRING_DATA_REDIS_HOST}
       timeout: 5000ms
       
jwt:
  secret: ${MY_APP_SECRET}
  access-token-validity-in-seconds: 3600
  refresh-token-validity-in-seconds: 604800

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

server:
  port: 8080
  servlet:
    context-path: /studio-recipe


front:
  url: http://localhost:5173


