spring:
   datasource:
     driver-class-name: org.mariadb.jdbc.Driver
     # driver-class-name: com.mysql.cj.jdbc.Driver
     url: jdbc:mariadb://recipe-app-db.c1w8qmkce4t6.ap-northeast-2.rds.amazonaws.com:3306/recipe_db?characterEncoding=UTF-8&serverTimezone=UTC
     username: admin
     password: tlwkrdmldkdlA!

   jpa:
      hibernate:
         ddl-auto: create
      database-platform: org.hibernate.dialect.MariaDBDialect
      # database-platform: org.hibernate.dialect.MySQL8Dialect
      properties:
         hibernate:
            format_sql: true
            show_sql: false
            defer-datasource-initialization: true


   batch:
      jdbc:
         initialize-schema: always # Spring Batch 메타데이터 테이블 자동 생성
      job:
         enabled: false # 애플리케이션 시작 시 Job 자동 실행 방지 (수동 실행 위함)

   mail:
     host: smtp.naver.com
     port: 465
     username: stay_on_track@naver.com
     password: KVRG8UGYM9ZJ
     properties:
       mail.smtp.auth: true
       mail.smtp.ssl.enable: true
#       mail.smtp.starttls.enable: true //TLS 사용 시 port 587로 바꾸고 사용
#       mail.smtp.starttls.required: true

       mail.smtp.timeout: 5000               # 연결 타임아웃
       mail.smtp.connectiontimeout: 5000     # 연결 타임아웃
       mail.smtp.writetimeout: 5000          # 쓰기 타임아웃

   data:
     redis:
       # host: ${REDIS_HOST} 
       # port: ${REDIS_PORT}
       
       host: clustercfg.recipe-app-cache.yyo014.apn2.cache.amazonaws.com:6379
       port: 6379

jwt:
  secret: dI5pBjrtgy9xFHiZtMs3fM7P8OR/wvxrexu/mybWcKc=
  access-token-validity-in-seconds: 3600
  refresh-token-validity-in-seconds: 604800

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

server:
  port: 8080
  servlet:
    context-path: /studio-recipe


front:
  url: http://localhost:5173


