spring:
  datasource:
    driver-class-name: ${DRIVER_NAME}
    url: ${DRIVER_URL}
    username: ${DRIVER_USER_NAME}
    password: ${DRIVER_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  batch:
    jdbc:
      initialize-schema: always # Spring Batch 메타데이터 테이블 자동 생성
    job:
      enabled: false # 애플리케이션 시작 시 Job 자동 실행 방지 (수동 실행 위함)

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      #      mail.smtp.starttls.enable: true   # TLS 쓸 땐 587 포트 + 이 옵션 사용
      #      mail.smtp.starttls.required: true

      mail.smtp.timeout: 5000               # 연결 타임아웃
      mail.smtp.connectiontimeout: 5000     # 연결 타임아웃
      mail.smtp.writetimeout: 5000          # 쓰기 타임아웃

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-in-seconds: ${JWT_ACCESS_TOKEN_VALIDITY_IN_SECONDS}
  refresh-token-validity-in-seconds: ${JWT_REFRESH_TOKEN_VALIDITY_IN_SECONDS}

thymeleaf:
  cache: false
  prefix: classpath:/templates/
  suffix: .html

server:
  port: 8080
  servlet:
    context-path: /studio-recipe

front:
  urls: "http://localhost:5173,https://rapa8.shop,https://www.rapa8.shop"


logging.level:
  org.hibernate.SQL: debug
  org.hibernate.orm.jdbc.bind: TRACE
  org.springframework.security.web: TRACE
