management:
  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    health:
      show-details: never

  health:
    mail:
      enabled: false
    redis:
      enabled: false
